.store > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    flex-wrap: wrap;
}

.header > .title {
    font-size: 40px;
    color: #fff;
    flex-grow: 1;
    float: left;
    font-family: ArialMT, sans-serif;
    text-transform: uppercase;
    flex-basis: 150px;
}
.title > span {
    cursor: pointer;
}

.header > .navigation {
    display: flex;
    flex-grow: 1;
    flex-basis: 350px;
    float: right;
    justify-content: space-around;
}

.header > .navigation a {
    display: inline-block;
    color: #fff;
    font-family: SegoeUI, 'Segoe UI', sans-serif;
    text-decoration: none;
    font-size: 21px;
    margin-right: 5%;
    position: relative;
    white-space: nowrap;
}

.header > .navigation a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    background: #fff;
    left: -10%;
    bottom: -8px;
    transition: all 200ms;
}

.header > .navigation a:hover::after {
    width: 120%;
    transition: all 200ms;
}

.header > .navigation a:last-child {
    margin-right: 0;
}

.header > .search {
    flex-grow: 2;
    flex-basis: 300px;
    margin-right: 65px; 
}

.search > .bar {
    display: block;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    outline: none;
}

.search .bar::placeholder {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
}

@media(max-width: 1080px) {
    .store > .header {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .header > .title {
        display: block;
        float: none;
        margin-bottom: 18px;
    }

    .header > .search, .header > .navigation {
        display: inline-block;
        float: none;
        box-sizing: border-box;
        width: fit-content;
        margin: 0 1% 18px 1%;
    }

    .header > .search {
        width: 30%;
    }
}

@media(max-width: 1080px) {
    .header > .search, 
    .header > .navigation{
        display: block;
        width: 90%;
        margin: 0 auto 20px auto;
    }
}
