.store > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 96px;
}

.header > .title {
    font-size: 40px;
    color: #fff;
    flex-grow: 1;
    float: left;
    font-family: ArialMT, sans-serif;
    text-transform: uppercase;
}
.title > span {
    cursor: pointer;
}

.header > .navigation {
    flex-grow: 0;
    float: right;
}

.header > .navigation a {
    color: #fff;
    font-family: SegoeUI, 'Segoe UI', sans-serif;
    text-decoration: none;
    font-size: 21px;
    margin-right: 60px;
}

.header > .navigation a:hover {
    border-bottom: 1px solid #fff;
}

.header > .navigation a:last-child {
    margin-right: 0;
}

.search {
    flex: 1;
    margin-right: 65px; 
}

.search > .bar {
    display: block;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    outline: none;
}

.search .bar::placeholder {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
}