.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item::after {
    display: block;
    content: '';
    clear: both;
}

.item > .photo {
    float: left;
    min-width: 480px;
    flex-basis: 600px;
    max-width: 40%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    left: -65px;
    border-radius: 0 150px 150px 0;
    text-align: right;
    margin-right: 150px;
}

.item > .photo img {
    margin-right: -60px;
}

.item-info {
    float: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    flex: 1;
}

.item .title {
    position: relative;
    font-size: 25px;
    margin-bottom: 50px;
}

.title > .heart {
    position: absolute;
    left: -80px;
    cursor: pointer;
}

.item .description {
    line-height: 1.67; 
    margin-bottom: 30px;
}

.item .rating {
    margin-bottom: 28px;
}

.rating .stars {
    margin-bottom: 25px;
}

.stars img:hover, .heart:hover {
    transform: scale(1.1);
}

.rating .number {
    padding-left: 8px;
}

.rating .stars img {
    margin-left: 8px;
    cursor: pointer;
} 

.item .price {
    margin-bottom: 72px;
}
.item .price dd:not(:last-child) {
    margin-bottom: 16px;
}
.item .price strong {
    display: inline-block;
    text-transform: uppercase;
    width: 140px;
}

.item .see-more {
    color: #fff;
    text-decoration: none;
}

.item > .buy {
    clear: both;
    float: right;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 72px;
    text-align: right;
}

.buy > .button-buy:not(:last-child) {
    margin-right: 40px;
}

@media(max-width: 1080px) {
    .item {
        display: block;
        text-align: center;
    }

    .item > .photo {
        display: block;
        float: none;
        box-sizing: border-box;
        background-color: #fff;
        position: static;
        border-radius: 50px;
        margin: 0 auto 48px auto;
    }
    
    .item > .photo img {
        margin-right: 0;
    }

    .item .description {
        line-height: 1.67; 
        margin-bottom: 30px;
        padding: 0 28px;
    }

    .item > .item-info {
        float: none;
    }

    .item > .buy {
        float: none;
        text-align: center;
        width: 100%;
        position: static;
    }

    .item-info > .title {
        position: relative;
        top: -40px;
    }

    .item-info > .title > .heart {
        display: block;
        position: relative;
        cursor: pointer;
        margin: 0 auto 10px auto;
        left: unset;
        top: 95px;
    }
}