.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item::after {
    display: block;
    content: '';
    clear: both;
}

.item > .photo {
    float: left;
    min-width: 480px;
    width: 600px;
    max-width: 40%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    left: -65px;
    border-radius: 0 150px 150px 0;
    text-align: right;
}

.item > .photo img {
    margin-right: -60px;
}

.item-info {
    float: right;
    width: 60%;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.item .title {
    font-size: 25px;
    margin-bottom: 50px;
}

.item .description {
    line-height: 1.67; 
    margin-bottom: 30px;
}

.item .rating {
    margin-bottom: 28px;
}

.rating .stars {
    margin-bottom: 25px;
}

.rating .number {
    padding-left: 8px;
}

.rating .stars img {
    margin-left: 8px;
} 

.item .price {
    margin-bottom: 72px;
}
.item .price dd:not(:last-child) {
    margin-bottom: 16px;
}

.item .see-more {
    color: #fff;
    text-decoration: none;
}

.item > .buy {
    clear: both;
    float: right;
    position: relative;
    width: 60%;
    margin-left: auto;
    left: -65px;
    margin-top: 72px;
}

.item > .buy > .button-buy {
    margin-right: 40px;
}



._22Mb1:hover, 
._22Mb1:hover.jVjtZ svg {
    width: initial;
    height: initial;
}