body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #252a34;
}

.store {
    background-color: #e24647;
    padding: 65px;
    margin: 3vw;
    width: 100%;
}