body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #252a34;
    background-image: linear-gradient(to top, #ff2e63, #252a34);
}

.store {
    background-color: #e24647;
    padding: 65px;
    margin: 3vw;
    width: 100%;
}

@media(max-width: 1080px) {
    .store {
        margin: 0;
        padding: 30px 0;
    }
}
