body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #e24647;
    padding: 65px;
    margin: 0 115px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav{
    flex-grow: 0;
    float: right;
}

h1 {
    font-size: 40px;
    color: #fff;
    flex-grow: 1;
    float: left;
    font-family: ArialMT, sans-serif;
}

nav a {
    color: #fff;
    font-family: SegoeUI, 'Segoe UI', sans-serif;
    text-decoration: none;
    font-size: 21px;
    margin-right: 60px;
}

nav a:last-child {
    margin-right: 0;
}

.button-buy {
    display: inline-block;
    background-color: #252c41;
    color: white;
    
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    
    width: 200px;
    line-height: 60px;

}