header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e24647;
    overflow: hidden;
    padding: 65px;
    margin: 0 115px;
}

nav{
    flex-grow: 0;
    float: right;
}

h1 {
    font-size: 40px;
    color: #fff;
    flex-grow: 1;
    float: left;
    font-family: ArialMT, sans-serif;
}

a {
    color: #fff;
    font-family: SegoeUI, 'Segoe UI', sans-serif;
    text-decoration: none;
    font-size: 21px;
}